html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
}

/* ここから */
header {
  height: 50px;
  background-color: #2B2B2B;


}

header ul {
  list-style-type: none;
}

header ul a {
  text-decoration: none;
  color: white;
}

header li {
  padding: 15px;
}

.left{
  float: left;
}

.right{
  float: right;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}
/* ここまでがheader部分の実装 */

.main-header{
  position: relative;
}

.main-header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 13%;
/* main画像（白い「Achieve」の文字の画像）部分の実装 */
}
.main-header p{
  top: 0%;
  left: 0%;
  transform: translate(-0%, 140%);
  display: table-cell;
  width: 13%;
}


.about h1{
  font-size: 1.5rem;  
/* About Achieve部分の実装 */
}

.about p{
  font-size: 0.8rem;  
/* About Achieve部分の実装 */
}

/* ここから */
.function {
  background-color: #D3D3D3;
  margin: 0px;
  padding: 0;
}

.function-images {
  /* text-align: center; */
  width: 800px;
  margin-left: auto;
  margin-right: auto;


  /* height: auto;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.function-image {
  float:left;
  margin: 0 30px;


  /* margin: 0 auto; */

}
.clearfix::after {
  display: block;
  content: "";
  clear: both;


}
/* ここまでがfunction部分の実装 */

footer {
  background-color: #283A4B;
  margin: 0px;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  position: relative;


/* footer部分の実装 */
}
footer div{
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

footer p{
  margin: 0;
  color: white;
  font-size: 0.8rem;
}
